<!DOCTYPE html>
<html>
<header class="site-header">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='img/favicon.png') }}">
    <title>NovaTech University</title>

    <div class="logo">
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo.png') }}"
                                             alt="NovaTech University logo"/></a>
        <h1><a href="{{ url_for('home') }}">NovaTech University</a></h1>
    </div>

    <nav class="site-navigation">
        <ul class="nav">
            <li><a style="background-color: lightseagreen" href="{{ url_for('teacher') }}">{{session.get('name')}}</a></li>

            <li><a style="background-color: cornflowerblue" href="{{ url_for('logout') }}">Log Out</a></li>
        </ul>
    </nav>

</header>

<body>

<nav class="vertical-nav">
    <ul>
        <li><a href="{{ url_for('teacher') }}">Dashboard</a></li>  <!--- views all the students of the teacher --->
        <li><a href="{{ url_for('classes') }}">Classes</a></li> <!--- it will view all class of given teacher (from login)--->


    </ul>
</nav>
<div class="main-content">

    <main>

        {% block content %}
        {% endblock %}


    </main>
</div>

</body>
</html>
