{% extends 'teacher/base.html' %}

{% block content %}
    <h1>Your classes, {{ teacher }}</h1>
    <table class="table">
    <thead>
    <tr>
        <th>Class Name</th>
        <th>Teacher</th>
        <th>Time</th>

        <th>Enrolled</th>
    </tr>
    </thead>
    <tbody>
    {% for class in teacher_classes %}
    <tr>
        <td><a href="{{ url_for('class_info',class_id=class.id) }}">{{ class.class_name }}</a></td>
{#        <td><a href="#"> Some Class</a></td>#}
        <td>{{ teacher }}</td>
        <td>{{ class.time }}</td>
        <td>{{ class.enrolled }}/{{ class.capacity }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}