@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #272727;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

.navMenu {
    margin: 20px;
    padding: 20px;
    background: orange;
    border-radius: 30px;
}

.navMenu a {
    color: #ccc;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 80px;

}
#this-page {
    color: #000;
}

.navMenu a:hover {
    color: #000;
}

.navMenu .dot {
    width: 6px;
    height: 6px;
    background: #000;
    border-radius: 50%;
    opacity: 0;
    transform: translateX(30px);
    transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
    transform: translateX(30px);
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
    transform: translateX(110px);
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
    transform: translateX(200px);
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
    transform: translateX(285px);
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

section{
    max-width: 1250px;
    margin: 0 auto;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: orange;
    border-radius: 30px;
    padding: 20px;
}

.contents>h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text {
    width: 80%;
}

.about-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-text {
    margin: 0 0 20px;
}
.cursive {
    font-style: italic;
}

img {
    object-fit: cover;
    border-radius: 20px;
}

.contents-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.contents-home>h1 {
    grid-area: 1 / 1 / 2 / 4;
}

.home-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-title {
    width: 75%;
    text-align: center;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-zd42{text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}

.top-cats {
    margin: 20px 20px;
}

.video-contents {
    display: flex;
    align-items: center;
}

table {
    font-size: 14px;
}